* {
    margin: 0;
    margin: 0 20px 0 20px;
}

body {
    background-color:lemonchiffon;
    font-family: 'Zilla Slab', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: white;
    padding: 0;
    padding: 10px 0;
}

main {
    padding: 0;
    padding: 20px 0;
}

h1 {
    color:indianred;
    text-decoration-line: line-through;
    text-align: center;
}

h2 {
    color: black;
    padding: 5px 0;
}

h3 {
    color:rgb(122, 119, 78);
    padding: 5px 0;
}

p {
    color: black;    
}

.suave {
    color: rgb(122, 117, 116);
}

.medio {
    text-align: center;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightslategrey;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: inherit;
    color: rgb(122, 117, 116);
}

li.sinpunto {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

li.sinpunto:hover {
    background-color: lemonchiffon;
    font-weight: 900;
}

img {
    display: inline-block;
    position: relative;
}

img:hover {
    cursor: pointer;
    background-color: rgba(255, 250, 204, 0.5);
    content: "hola, qué tal";
    color: maroon;
}

iframe {
    margin: 0 -80px;
    width: calc(100% + 160px);
}
